

body{
    background-image: url(imagens/girassois\ van-gogh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     color: white;
     font-family:'CormorantGaramond';
     
}



/* Ajustes tema  */
.tema{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family:'CormorantGaramond';
}

/* Ajustes nossa  */
.nossa{
    width: 210px;
    display: block;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.nossa1{
    margin-top: 18px;
    width: 168px;
    display: block;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

/* Ajustes equipe  */
.equipe{
    display: flex;
    flex-direction: row;
    max-width: 1600px; 
    margin: 0 auto;
    padding: 80px;  
    
}

.text-white{
    text-decoration: none;
    color: white;

}

.nomelara {
    margin-top: 23px;


}

.equipe > div {
    flex: 1 1 100px; 
    align-items: center;
    margin: 20px;
    
}

.equipe p{
    font-family: 'Staatliches';
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'CormorantGaramond';
    border-radius: 50px; 
  
}

.equipe h3{
    font-family: 'Staatliches';
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'CormorantGaramond';
    border-radius: 50px; 
    
}
/* rodape*/

section{
    text-align: center;
}

footer {
    
    margin-top: 12%;
}

h6{
    font-size: 22px;
    font-family:'CormorantGaramond';
}

h4{
    font-size: 28px;
    font-family:'CormorantGaramond';
}
h3{
    font-size: 20px;
}
h2{
    font-size: 64px;
}
