@charset "UTF-8";

@font-face {
    font-family: 'Staatliches';
    src: url('fontes/Staatliches.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('fontes/CormorantGaramond.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(29, 92, 173);
    font-family: 'Staatliches', sans-serif;
}

.img-fluid {
    width: 1550px;
    height: 500px;
    opacity: 0.4;
}

.text-vg {
    position: absolute;
    font-size: 25px;
    left: 180px;
    right: 180px;
    margin-top: 250px;
    color: rgb(231, 238, 142);
    text-align: justify;
    text-indent: 50px;
}

#van-bot {
    font-family: 'CormorantGaramond', serif;
    position: absolute;
    font-size: 140px;
    left: 120px;
    right: 120px;
    margin-top: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.robot {
    width: 400px;
    height: 400px;
    top: 1400px;
    margin-top: 20px;
}

.chamada {
    border: 3px solid rgb(226, 231, 149);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;
}

.question {
    font-size: 35px;
}

#img-robot {
    display: inline-block;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    margin-top: auto;
}

#container-img {
    display: inline-block;
}

#container-text {
    display: inline-block;
    width: 850px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 10px;
    margin-top: 50px;
}

a { 
    color: currentColor;
 } 

 a:hover {
    color: rgb(255, 255, 255);
 }

#text-call {
    color: rgb(255, 255, 255);
}

.link {
    font-size: 25px;
    color: rgb(255, 239, 148);
    margin-bottom: 200px;
}

.gif-vg {
    margin-top: 100px;
}

.gif-vg:hover > .img-fluid {
    opacity: 0.1;
    transition: 1s;
}

