@charset "UTF-8";

@font-face {
    font-family: 'Staatliches';
    src: url('fontes/Staatliches.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('fontes/CormorantGaramond.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(29, 92, 173);
    font-family: 'Staatliches', sans-serif;
}

.img-fluid {
    position: relative;
    width: 100%;
    height: 80vh;
    opacity: 0.4;
}

.text-vg {
    position: absolute;
    font-size: 1.5em;
    left: 15%;
    right: 15%;
    margin-top: 20%;
    color: rgb(231, 238, 142);
    text-align: justify;
    text-indent: 50px;
}

#van-bot {
    font-family: 'CormorantGaramond', serif;
    position: absolute;
    font-size: 9em;
    left: 15%;
    right: 15%;
    margin-top: 4.5%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.robot {
    width: 10%;
    height: 15%;
    margin-top: 5%;
}

.chamada {
    border: 3px solid rgb(226, 231, 149);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 4em;
}

.question {
    font-size: 2em;
}

#img-robot {
    display: inline-block;
    margin-top: 10%;
    height: 70vh;
    width: 30vw;
}

#container-img {
    display: inline-block;
}

#container-text {
    display: inline-block;
    width: 67vw;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    margin-top: 5%;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

#text-call {
    color: rgb(255, 255, 255);
}

.link {
    font-size: 1.7em;
    color: rgb(255, 239, 148);
}

.gif-vg:hover>.img-fluid {
    opacity: 0.1;
    transition: 1s;
}

@media screen and (max-width: 992px) {
    .text-vg {
        font-size: 20px;
        margin-top: 25%;
    }

   #van-bot {
    	font-size: 135px;
    	margin-top: 5%;
   }
}

@media screen and (max-width: 840px) {
    .text-vg {
        font-size: 17px;
        margin-top: 35%;
    }

    #van-bot {
        font-size: 110px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 760px) {
    .text-vg {
        font-size: 14px;
    }

    #van-bot {
        font-size: 80px;
    }
}

/*Cabeçalho*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background:rgb(85, 135, 201);;
    height: 80px;
    width: 100%;
    box-shadow: 6px 9px 15px rgb(255, 241, 160);
    font-family: 'CormorantGaramond', serif;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: rgba(255, 255, 255, 0.192);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;

    }

    #check:checked~ul {
        left: 0;
    }
}

/*Rodapé*/

.color {
    box-shadow: -5px -10px 30px rgb(255, 243, 175), 6px 9px 15px;
    -webkit-box-shadow: -5px -10px 30px white 0, 6px 9px 15px;
    -moz-box-shadow: -5px -10px 30px white 6px 9px 15px;
    font-family: 'Staatliches';
}

#footer {
    background-color:#faf4d321;
}

.footer1 {
    font-family: 'Staatliches';
    text-align: center;
}
    
.footer1 .row1 {
    color: white;
    font-family: 'Staatliches';
}

.footer1 .row1 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
ion-icon {
    font-size: 32px ;
 }


.footer1 .row1 a:hover{
    color:#fff;
}
    
.footer1 .row ul{
    width:100px;
}

.text {
    background-color: #faf4d321;
}

/*Frases do final do rodapé*/
    .footer1 .row1 ul li{
    display:inline-block;
    margin:0px 30px;
}
     
@media (max-width:720px){
    .footer{
    	text-align:left;
    	padding:5%;
    }
    .footer1 .row1 ul li{
    	display:block;
    	margin:10px 0px;
    	text-align:left;
    }
    .footer1 .row1 a i{
    	margin:0% 3%;
    }
}
